<div class="user_container">
  <div class="user_content">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <div class="user_info">
      <div class="user_avatar">
        <img [src]="user.avatar | img | async" alt="avatar" class="avatar">
      </div>

      <div class="user_data">
        <div><mat-icon>face</mat-icon></div>
        <div class="user_name"> <b>{{ user.username }}</b></div>
        <div> <b class="sep">|</b> {{ user.email }}</div>
      </div>
    </div>

    <div class="todos">
      <app-todo *ngFor="let todo of showTodos; let first = first" [todo]="todo" [userId]="user.id" [filter]="filter">
      </app-todo>
    </div>

    <div class="footer">
      <div class="pagination">
        <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5]" (page)="changePage($event)">
        </mat-paginator>
      </div>
      <div class="filters">
        <mat-radio-group [(ngModel)]="filter" (change)="filterChange($event)">
          <mat-radio-button class="m-r-2" value="1">Completed</mat-radio-button>
          <mat-radio-button class="m-r-2" value="-1">Expired</mat-radio-button>
          <mat-radio-button class="m-r-2" value="0">All</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

  </div>
</div>
