<ng-container *ngIf="!loadingUser; else noUser">
  <mat-card class="">
    <div class="user_info">
      <div class="user_avatar">
        <img [src]="user.avatar | img | async" alt="avatar" class="avatar">
      </div>
      <div class="user_data">

        <p>
          <b><div>Username:</div> </b>
          {{ user.username }}
        </p>

        <p>
          <b>
            <div>Email:</div>
          </b>
          {{ user.email }}
        </p>

        <p
          matTooltip="Sherable id"
          matTooltipPosition="right"
        >
          <b><div>Id:</div> </b>
          <i class="id">{{ user.id }}</i>
        </p>

        <div class="is_admin" *ngIf="client">
          Admin
        </div>

      </div>
    </div>
  </mat-card>
</ng-container>
<ng-template #noUser>
  <div class="spinner">
      <mat-spinner diameter="100"></mat-spinner>
  </div>
</ng-template>

<ng-container *ngIf="!loadingTodos; else noTodos">

      <div class="todos">

        <app-todo *ngFor="let todo of todos; let first = first" [todo]="todo" [active]="first" [userId]="user.id"
          [isClient]="client">
        </app-todo>


        <div class="no_todos" *ngIf="client && !todos.length">
          <p>There are no todos assigned. Share your id to get todos assigned to you.</p>
        </div>

        <div class="add_todo" *ngIf="!client">
          <mat-icon class="add_todo_btn" matTooltip="Add new todo" matTooltipPosition="right" (click)="addNewTodo()">
            add_circle_outline
          </mat-icon>
        </div>

      </div>

      <div class="intro" *ngIf="client">
        <p>Share your id to get todos assigne to you.</p>
      </div>

</ng-container>

<ng-template #noTodos>
  <div class="spinner">
    <mat-spinner diameter="100"></mat-spinner>
  </div>
</ng-template>
